<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description"
    content="Emmental is an intentionally-insecure web application built for educational purposes using agile development practices.">
  <meta name="keywords" content="emmental,educational,insecure,vulnerable">
  <meta name="viewport" content="width=device-width">
  <title>Emmental</title>
  <link rel="stylesheet" href="/static/stylesheets/default.css">
</head>

<body>
  {% block body %}{% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  {% block javascripts %}{% endblock %}
</body>
