{% extends "layout.html" %}

{% block body %}
<section class="content">
  <div class="container">
    <a href="/">
      <img class="logo" src="/static/images/logo.svg" alt="Emmental Logo">
    </a>
    <div class="user-buttons">
      <a href="/upload">
        <button class="upload-button active" type="button">Upload</button>
      </a>
      <a href="/logout">
        <button class="logout-button" type="button">Logout</button>
      </a>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages">
      {% for message in messages %}
      <p>{{ message|safe }}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <h1>Upload a Video</h1>

    <h2>Select a File</h2>

    <div class="video-uploads">
      <form action="/upload" enctype="multipart/form-data" method="post">
        <input type="file" name="video">
        <input type="submit"></submit>
      </form>
    </div>
  </div>
</section>
{% endblock %}
