{% extends "layout.html" %}

{% block body %}
<section class="content">
  <div class="container">
    <a href="/">
      <img class="logo" src="/static/images/logo.svg" alt="Emmental Logo">
    </a>
    <div class="user-buttons">
      <a href="/">
        <button class="videos-button" type="button">Videos</button>
      </a>
      <a href="/upload">
        <button class="upload-button" type="button">Upload</button>
      </a>
      <a href="/logout">
        <button class="logout-button" type="button">Logout</button>
      </a>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages">
      {% for message in messages %}
      <p>{{ message|safe }}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <h1>Video Player:</h1>    
    {% if video %}
    <div class="videos">
        <video controls>
          <source src="/video/{{ video }}" type="video/{{ext}}">
          Your browser does not support HTML5 Video.
        </video>
    </div>
    {% else %}
    <h2>Video not found.</h2>
    {% endif %}
  </div>
</section>
{% endblock %}
