/* External imports */

@import url('/static/stylesheets/reset.css');
@import url('/static/stylesheets/external.css');

/* Universal styles */

html, body {
  height: 100%;
}

body {
  background-color: #1f1f1f;
  color: #f7f7f7;
  font-family: 'Open Sans', 'Trebuchet MS', 'Verdana', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

a, a:active, a:visited {
  color: #e50914;
  text-decoration: none;
  transition: color 0.2s linear;
}

a:hover {
  color: #e45c63;
  cursor: pointer;
  transition: color 0s;
}

::selection {
  background: #d78589;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  margin: 1em 0 0.5em 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0.8em 0 0.35em 0;
}

.hidden {
  display: none;
}

button {
  background-color: rgba(100, 6, 11, 0.14);
  border-color: #64060b;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  color: #f7f7f7;
  cursor: pointer;
  font-family: 'Open Sans', 'Trebuchet MS', 'Verdana', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

button.active {
  background-color: #e50914;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.3em;
  text-transform: uppercase;
}

input:not([type="file"]):not([type="submit"]) {
  background-color: transparent;
  border-color: #f7f7f7;
  border-radius: 0px;
  border-style: none none solid none;
  border-width: 0.1em;
  color: #f7f7f7;
  font-family: 'Open Sans', 'Trebuchet MS', 'Verdana', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 400; 
  margin-bottom: 0.5em;
}

/* Layout styles */

section {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
}

section.landing {
  background-image: url('/static/images/backgrounds/theater.jpg');
  background-position: center;
  background-size: cover;
  height: 100%;
  justify-content: center;
}

section.content {
  height: 100%;
}

section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
}

section.landing .container {
  align-items: center;
}

section .container.credentials {
  min-height: 50vh;
}

.user-buttons {
  margin: 1em 0;
}

.user-buttons button {
  margin-right: 1em;
}

.user-buttons button:last-of-type {
  margin-right: 0;
}

.signup-form, .login-form {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  margin-top: 2em;
  padding: 1em;
}

.flash-error, .flash-success {
  padding: 1em 0;
}

.flash-error {
  color: #f77a7a;
}

.flash-success {
  color:  #7af782;
}

video {
  height: 60vh;
  width: 80vw;
}

.video {
  margin: 1em 0;
}

.video-uploads form {
  margin: 1em 0;
}

/* Image styles */

.logo {
  width: 25vw;
}
